<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" href="/libs/bootstrap-3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/style.less"></link>
    <script type="text/javascript" src='/libs/jquery-2.1.4.min.js'></script>
    <script type="text/javascript" src='/libs/less.min.js'></script>
    <script type="text/javascript" src='/libs/bootstrap-3.3.5/js/bootstrap.min.js'></script>
</head>
